# Copy this file to .env and fill in your real values.
# The installer loads router/.env automatically, or you can pass --env-file.

# Bootstrap settings.
# STACK_WORK_DIR='/opt/hp2-awg-stack'
# WIRESOCK_REPO_URL='https://github.com/wiresock/amneziawg-install.git'
# WIRESOCK_REF='main'
# INSTALL_DEPENDENCIES='1'
# INSTALL_WEB_PANEL='1'
# INSTALL_WEB_RUST='1'
# SAVE_STATE_ENV='1'

# Non-interactive AmneziaWG install.
AUTO_INSTALL='y'
# SERVER_PUB_IP='203.0.113.10'
# SERVER_PUB_NIC='eth0'
SERVER_AWG_NIC='awg0'
# SERVER_AWG_IPV4='10.66.66.1'
# SERVER_AWG_IPV6='fd42:42:42::1'
# SERVER_PORT='51820'
CLIENT_DNS_1='1.1.1.1'
CLIENT_DNS_2='1.0.0.1'
ALLOWED_IPS='0.0.0.0/0'

# Web panel.
AWG_WEB_LISTEN='127.0.0.1:8080'
# AWG_WEB_PUBLIC_BASE_URL='https://panel.example.com'

# Routing layer: host-level sing-box tun + auto_route/auto_redirect + Hysteria2.
# HY2_URI='hy2://password@example.com:443/?sni=example.com&obfs=salamander&obfs-password=secret'
# SERVICE_NAME='hp2-routing'
# AWG_IFACE='awg0'
# DEFAULT_AWG_IFACE='awg0'
# INSTALL_ROUTING_PACKAGES='1'
# TUN_IFACE='sbhp2'
# TUN_ADDRESS='172.19.0.1/30'
# TUN_MTU='1400'
# IPROUTE2_TABLE_INDEX='2022'
# IPROUTE2_RULE_INDEX='9000'
# AUTO_REDIRECT_INPUT_MARK='0x2023'
# AUTO_REDIRECT_OUTPUT_MARK='0x2024'
# AUTO_REDIRECT_RESET_MARK='0x2025'
# AUTO_REDIRECT_FALLBACK_RULE_INDEX='32768'
# DNS_SERVER='77.88.8.8'
# DNS_SERVER_PORT='53'
# DNS_STRATEGY='ipv4_only'
# DNS_FILTER_ENABLED='1'
# DNS_FILTER_LISTEN='127.0.0.1'
# DNS_FILTER_PORT='5353'
# DNS_FILTER_RR_TYPES='HTTPS,SVCB'
# ALLOW_AWG_INPUT='1'
# DEBUG_SOCKS_LISTEN='127.0.0.1'
# DEBUG_SOCKS_PORT='1080'
# REJECT_UDP_443='0'
# ROUTE_FINAL='direct'
# VPN_DOMAINS='youtubei.googleapis.com,www.youtube.com,m.youtube.com,music.youtube.com'
# VPN_SUFFIXES='youtube.com,youtu.be,googlevideo.com,ytimg.com'
# IPLIST_DOMAINS_URL=''
# IPLIST_WILDCARD_DOMAINS_URL='https://iplist.opencck.org/?format=text&data=domains&group=youtube&wildcard=1'
# IPLIST_CONNECT_TIMEOUT='5'
# IPLIST_FETCH_TIMEOUT='20'
# IPLIST_RETRIES='2'
# IPLIST_STRICT='0'
# DIRECT_SUFFIXES='ru,xn--p1ai'
# EXTRA_DIRECT_DOMAINS='gosuslugi.ru,ya.ru'
# EXTRA_DIRECT_SUFFIXES='yandex.ru'
# DOMAINS_CONFIG_DIR='/root/vpn/router/config/domains'
# MANUAL_BLOCKED_DOMAINS_FILE='/root/vpn/router/config/domains/blocked_domains.txt'
# MANUAL_BLOCKED_SUFFIXES_FILE='/root/vpn/router/config/domains/blocked_suffixes.txt'
# BLOCKED_SERVICES_FILE='/root/vpn/router/config/domains/blocked_services.txt'
# IPLIST_GROUPS_FILE='/root/vpn/router/config/domains/iplist_groups.tsv'
# GENERATED_BLOCKED_DOMAINS_FILE='/opt/hp2-routing/blocked_domains.generated.txt'
# GENERATED_BLOCKED_SUFFIXES_FILE='/opt/hp2-routing/blocked_suffixes.generated.txt'
# BLOCKED_SERVICES_STATE_FILE='/opt/hp2-routing/blocked_services.state.tsv'
# IPLIST_BASE_URL='https://iplist.opencck.org/'

# Full-tunnel via Hysteria2:
# ROUTE_FINAL='hy2-out'
# VPN_DOMAINS=''
# VPN_SUFFIXES=''
# IPLIST_DOMAINS_URL=''
# IPLIST_WILDCARD_DOMAINS_URL=''
# DIRECT_SUFFIXES=''
# EXTRA_DIRECT_DOMAINS=''
# EXTRA_DIRECT_SUFFIXES=''
# REJECT_UDP_443='1'
